<?xml version="1.0"?>
<psalm
	errorBaseline="psalm-baseline.xml"
	errorLevel="4"
	findUnusedPsalmSuppress="true"
	resolveFromConfigFile="true"
	strictBinaryOperands="false"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://getpsalm.org/schema/config"
	xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
	<forbiddenFunctions>
		<function name="var_dump" />
		<function name="dd" />
		<function name="ray" />
		<function name="phpinfo" />
		<function name="eval" />
		<function name="create_function" />
	</forbiddenFunctions>

	<issueHandlers>
		<!-- The CLI talks to a Kirby installation that is not a Composer dependency of this package, so its classes cannot be resolved statically -->
		<UndefinedClass>
			<errorLevel type="suppress">
				<referencedClass name="Kirby\Cms\*" />
				<referencedClass name="Kirby\Data\*" />
				<referencedClass name="Kirby\Exception\*" />
				<referencedClass name="Kirby\Filesystem\*" />
				<referencedClass name="Kirby\Http\*" />
				<referencedClass name="Kirby\Toolkit\*" />
				<referencedClass name="Kirby\Uuid\*" />
			</errorLevel>
		</UndefinedClass>

		<!-- Don't warn about missing override attributes -->
		<MissingOverrideAttribute errorLevel="suppress" />

		<!-- Don't warn about unused code as Psalm does not know whether code will be used by developers using the CLI or not -->
		<PossiblyUnusedMethod errorLevel="suppress" />
		<PossiblyUnusedParam errorLevel="suppress" />
		<PossiblyUnusedProperty errorLevel="suppress" />
		<PossiblyUnusedReturnValue errorLevel="suppress" />
		<UnusedClass errorLevel="suppress" />
		<UnusedClosureParam errorLevel="suppress" />
		<UnusedForeachValue errorLevel="suppress" />
		<UnusedFunctionCall errorLevel="suppress" />
		<UnusedVariable errorLevel="suppress" />
	</issueHandlers>

	<projectFiles>
		<directory name="commands" />
		<directory name="src" />
		<file name="bootstrap.php" />
		<ignoreFiles>
			<directory name="**/_templates" />
			<directory name="vendor" />
		</ignoreFiles>
	</projectFiles>
</psalm>
